# Request your CMS Marketplace API key at:
# https://developer.cms.gov/marketplace-api/key-request.html
CMS_API_KEY=d687412e7b53146b2631dc01974ad0a4

# Node environment (development | production)
NODE_ENV=development
